<div>
    <h2 id="page-heading" data-cy="MaladieHeading">
        <span jhiTranslate="intellcapApp.maladie.home.title">Maladies</span>
        <hr>
        <div class="d-flex justify-content-end">
            <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="intellcapApp.maladie.home.refreshListLabel">Actualiser la liste</span>
      </button>

            <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-maladie" [routerLink]="['/maladie/new']">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="intellcapApp.maladie.home.createLabel"> Créer un nouveau Maladie </span>
      </button>
        </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="maladies?.length === 0">
        <span jhiTranslate="intellcapApp.maladie.home.notFound">Aucun Maladie trouvé</span>
    </div>

    <div class="table-responsive table-entities" id="entities" *ngIf="maladies && maladies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
                    <th scope="col" jhiSortBy="id">
                        <div class="d-flex">
                            <span jhiTranslate="global.field.id">ID</span>
                            <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                    </th>
                    <th scope="col" jhiSortBy="nomMaladie">
                        <div class="d-flex">
                            <span jhiTranslate="intellcapApp.maladie.nomMaladie">Nom Maladie</span>
                            <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                    </th>
                    <th scope="col" jhiSortBy="symptomes">
                        <div class="d-flex">
                            <span jhiTranslate="intellcapApp.maladie.symptomes">Symptomes</span>
                            <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let maladie of maladies; trackBy: trackId" data-cy="entityTable">
                    <td>
                        <a [routerLink]="['/maladie', maladie.id, 'view']">{{ maladie.id }}</a>
                    </td>
                    <td>{{ maladie.nomMaladie }}</td>
                    <td>{{ maladie.symptomes }}</td>
                    <td class="text-end">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/maladie', maladie.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

                            <button type="submit" [routerLink]="['/maladie', maladie.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

                            <button type="submit" (click)="delete(maladie)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>