<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-maladie-heading" data-cy="MaladieCreateUpdateHeading" jhiTranslate="intellcapApp.maladie.home.createOrEditLabel">
        Créer ou éditer un Maladie
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="intellcapApp.maladie.nomMaladie" for="field_nomMaladie">Nom Maladie</label>
          <input
            type="text"
            class="form-control"
            name="nomMaladie"
            id="field_nomMaladie"
            data-cy="nomMaladie"
            formControlName="nomMaladie"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="intellcapApp.maladie.symptomes" for="field_symptomes">Symptomes</label>
          <input type="text" class="form-control" name="symptomes" id="field_symptomes" data-cy="symptomes" formControlName="symptomes" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
