<div class="d-flex justify-content-center">
    <div class="col-8">
        <div *ngIf="maladie">
            <h2 data-cy="maladieDetailsHeading"><span jhiTranslate="intellcapApp.maladie.detail.title">Maladie</span></h2>

            <hr />

            <jhi-alert-error></jhi-alert-error>

            <jhi-alert></jhi-alert>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="global.field.id">ID</span></dt>
                <dd>
                    <span>{{ maladie.id }}</span>
                </dd>
                <dt><span jhiTranslate="intellcapApp.maladie.nomMaladie">Nom Maladie</span></dt>
                <dd>
                    <span>{{ maladie.nomMaladie }}</span>
                </dd>
                <dt><span jhiTranslate="intellcapApp.maladie.symptomes">Symptomes</span></dt>
                <dd>
                    <span>{{ maladie.symptomes }}</span>
                </dd>
            </dl>
           <br>
           <br>
            <jhi-sante [idsan]="maladie.id"></jhi-sante>
            <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

            <button type="button" [routerLink]="['/maladie', maladie.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
        </div>
    </div>
</div>